name: Build for Windows 10 64-bit

on:
  workflow_dispatch:  # 允许手动触发
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.20'

      - name: Build Windows 64-bit EXE
        run: |
          $env:GOOS="windows"
          $env:GOARCH="amd64"
          $env:CGO_ENABLED="0"
          go build -o wechat-proxy.exe .
        shell: pwsh

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: wechat-proxy-win10-64bit
          path: wechat-proxy.exe
